@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogProject.Models.Identity.ApplicationUser> SignInManager
@inject UserManager<BlogProject.Models.Identity.ApplicationUser> UserManager

<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        @*<div class="d-flex justify-content-center">*@
            <li class="nav-item">
                <a class="nav-link text-success btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Logged: @User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout <i class="bi bi-arrow-right"></i></a>
            </li>
        @* </div>*@
    }
    else
    {
        <div class="d-flex justify-content-start">
            <ul class="nav-item dropdown">
                <a class="nav-link dropdown text-dark nav-text" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sign in <i class="bi bi-person-fill fs-3"></i></a>
                <div class="dropdown-menu dropdown-menu-end text-center p-3" style="width:260px;">
                <li> <a class="btn p-2 w-100 text-white" style="background-color: #d3a72e;" asp-controller="Account" asp-action="Login">Sign in now</a> </li>
                <li class="my-3 w-100">Are you a <strong>new customer?</strong></li>
                <li>
                    <a class="btn p-2 w-100 signInBtn" style="border: 1px solid #d3a72e " asp-controller="Account" asp-action="Register">Create an account</a>
                </li>
        </div>
        </ul>
    </div>
    }
</div>



