@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="title">THE BLOG</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7  d-flex flex-column  align-items-end" style="position: relative; left: 0; top: 0;">
            <div class="px-4 mb-4 ">

                <img class="jumbotron" src="https://images.unsplash.com/photo-1484075449844-e945b251559e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=861&q=80" />
                <div class="p-5 jumbotron-inner">
                    <figure>
                        <blockquote class="blockquote lead my-3">
                            <h5 class="text-center title3">BOOKS</h5>
                            <h3 class="text-center title1">Why Writing a Book Should Be On Your 2023 To-Do List</h3>
                            <p class="text-dark text-center paragraph">Apple Podcasts | Spotify | Stitcher The words you use to describe and sell and promote your business can honestly make or break it, and yet not many of us start our businesses as skilled wordsmiths. Hiring a copywriter when you’re just.</p>
                        </blockquote>
                    </figure>
                </div>

            </div>

        </div>

        <div class="col-md-5 mt-5 d-flex flex-column justify-content-start align-items-start">
            <div class="mt-5 ss">
                <img src="https://images.unsplash.com/photo-1546961329-78bef0414d7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mnw5NjUzNzkzfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top mb-3 next-col" alt="...">
                <h6 class="card-title text-start" style="color: #d3a72e;">LIFESTYLE</h6>
                <p class=" text-start title2">The 8 Ways I Transformed My Skin and How Much it Cost</p>
                <hr />
            </div>

            <div class="ss">
                <h6 class="card-title " style="color: #d3a72e;">LIFESTYLE</h6>
                <p class="title2">Screw Morning Routines, Do This Instead!</p>
                <hr />
            </div>
            <div class="ss">
                <h6 class="card-title " style="color: #d3a72e;">LIFESTYLE</h6>
                <p class="title2">Screw Morning Routines, Do This Instead!</p>
            </div>
        </div>

    </div>

    <div class="container simple">
        <div class="text-center text-white">
            <h1 class="title">THE BLOG</h1>
        </div>
    </div>

</div>